body {
  margin: 0;
  font-family: "Courier New", Courier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(216,157,255);
  background: linear-gradient(90deg, rgba(216,157,255,1) 0%, rgba(29,171,253,1) 43%, rgba(69,145,252,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
